<div class="flex-container">
  {{#if quantity}}
    <ul>
      {{#each items}}
        <li data-id="{{id}}">
          <figure>
            <img src="{{image}}"/>
          </figure>
          <p>{{quantity}} x {{formatPrice price}}
        </li>
      {{/each}}
    </ul>
    <section>
      <h3>Your<br>shopping cart</h3>
      <p class="total">{{formatPrice total}}</p>
      <footer>
        <a class="left empty_cart" href="#">Empty cart</a>
        <a class="right checkout" href="/checkout">Checkout</a>
      </footer>
    </section>
  {{/if}}
</div>