<div class="image_top"></div>
<section>
  <h1>Order Details</h1>
  <table>
    <thead>
      <tr>
        <th>Item</th>
        <th></th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      {{#each items}}
        <tr data-id={{id}}>
          <td><img src="{{image}}"/></td>
          <td>{{name}}</td>
          <td>
            <span class="quantity_modifier plus">
              <i class="fas fa-minus"></i>
            </span>
            <p>{{quantity}}</p>
            <span class="quantity_modifier minus">
              <i class="fas fa-plus"></i>
            </span>
          </td>
          <td>{{formatPrice price}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  <p>Total: <span class="total">{{formatPrice total}}</span></p>
  <footer>
    <a href="#">Cancel Order</a>
    <form action="/" method="post">
      <input type="submit" value="ORDER NOW!">
    </form>
  </footer>
</section>
<div class="image_bottom"></div>